*{
    padding: 0px;
    margin: 0px;
}

#navbar{
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: cornflowerblue;

}

#links{
    display:inline;
}

#navbar #links a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    opacity: .7 ;
    transition: 3s;
  

}
#navbar #links a:hover{ opacity: 1; transition: 4s ; }
#dc{background-color: rgb(163, 87, 235) ;  border: 10000px black solid; border-radius: 10px;}
#mssngr{ background-color: rgb(194, 117, 194); border-radius: 10px;}
#chub{ background-color: aqua;border-radius: 10px;} 
#tv5{ background-color: rgb(194, 34, 34); border-radius: 10px;}
#rd{ background-color: rgb(223, 118, 43); border-radius: 10px;}

.monkey{ border-radius: 6px;}
*{padding:0px; margin: 0px;}
.banner{

    background-image: url('Soft-Drinks.jpg');
    background-color: antiquewhite;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
    background-position: center;
}
.banner h2{
    font-family: 'Young Serif', serif;
    color: #F78764; 
}
.banner h2 span{
    color: #8E4162;
}
.banner p{
    color: #3A3E3B;
    margin-bottom: 20px;
}
.banner a{
    padding: 10px;
    text-decoration: none;
    background-color: rgb(111, 111, 218);
    font-family: 'Young Serif', serif;
    text-transform: uppercase;
    color:black
}